@font-face {
  font-family: "Helvectica"; 
  src: url(../fonts/Helvetica.ttf)
}

:root {
  --color-primary: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 68px;
  padding: 10;
  background-color: var(--color-primary);
}

.logo {
  width: 32px;
  height: 32px;
  background-color: var(--color-primary);
  padding: 16px 16px;
}