@font-face {
  font-family: "Helvectica"; 
  src: url(../fonts/Helvetica.ttf)
}

:root {
  --color-primary: rgb(0, 0, 0);
  --color-secondary: rgb(0, 0, 0);
  --color-white: rgb(248, 248, 248);
  --color-black: rgb(32, 32, 32);
  --color-transparent: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--color-transparent);
}

html {
  scroll-behavior: smooth;
}

.background {
  height: 600px;
  background-position: 10%;
  background-image: url(../images/background.png);
  background-size: cover;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}

.header {
  height: 36px;
  padding: 16px 16px;
  position: fixed;
  background-color: var(--color-transparent);
}

.header-content {
  height: 100%;
  background-color: var(--color-transparent);
}

.logo {
  height: 36px;
  width: 36px;
  float: left;
  filter: brightness(1);
}

.name {
  color: white;
  font-family: "Helvectica";
  font-weight: 900;
  font-size: 16px;
  padding: 10px 48px;
}

.container {
  height: 2000px;
  background-color: var(--color-transparent);
}