@font-face {
  font-family: "Helvectica"; 
  src: url(../fonts/Helvetica.ttf)
}

:root {
  --color-primary: rgb(0, 0, 0);
  --color-secondary: rgb(0, 0, 0);
  --color-white: rgb(248, 248, 248);
  --color-black: rgb(32, 32, 32);
  --color-border: rgb(211, 211, 211);
  --color-transparent: rgba(0, 0, 0, 0);
  --color-text: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--color-transparent);
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

.header {
  height: 36px;
  padding: 16px 16px;
  position: fixed;
  background-color: var(--color-transparent);
}

.header-content {
  height: 100%;
  background-color: var(--color-transparent);
}

.logo {
  height: 36px;
  width: 36px;
  float: left;
}

.name {
  color: white;
  font-family: "Helvectica";
  font-weight: 900;
  font-size: 16px;
  padding: 10px 48px;
}

.background {
  height: 100%;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: 10%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-border);
}

.bold-text {
  height: 100%;
  color: white;
  font-family: "Helvectica";
  font-weight: 900;
  font-size: 32px;
  text-shadow: 4px 4px var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 2000px;
  background-color: white;
}